body {
  background: #e1e1e1;
  padding: 20px;
}

ul {
  margin-bottom: 0;
}

.accordion {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 30px;
}

.question {
  border-top: 1px solid #ddd;
  padding: 20px 50px 20px 20px;
  cursor: pointer;
  position: relative;
}

.question h2 {
  font-size: 20px;
  margin: 0;
  color: dodgerblue;
}

.question .icon {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: dodgerblue;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 0.275) all;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 0.275) all;
}

.answer p {
  padding: 20px;
}

.accordion li.open .question .icon {
  transform: rotate(180deg);
}



